.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 10px;
}

.cards table {
    margin: 25px auto;
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.cards th {
    font-weight: 700;
    text-align: center;
    background-color: #eba300;
    text-transform: uppercase;
    color: #000;
    font-family: 'Dosis', sans-serif;
}

.cards td,
.cards th {
    border-bottom: 1px solid #3b5781;
    text-align: center;
    padding: 10px;
}

.backLink {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.titleNoCards {
    margin-top: 35px;
    font-size: 1.5em;
    color: #EBA300;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titleNoCards span {
    margin-top: 15px;
}

.monkey {
    font-size: 3em;
}

.link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    background: none;
    border: none;
    transition: transform 0.7s ease-in-out;
    font-size: 1.3em;
}

.link:hover {
    color: #EBA300;
    transition: 0.5s;
}