.commonForm {
    margin: 100px 10px 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    width: 413px;
    height: 500px;
    border-radius: 30px;
}

/* Form Title */
.formTitle {
    color: #fff;
    min-width: 100px;
    height: 39px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}

/* Form Description */
.formDescription {
    width: 300px;
    height: 30px;
    color: #EBA300;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
}

/*Form*/
.inputFormCommon {
    display: flex;
    flex-direction: column;
}

.inputFormCommon input {
    background-color: #1B2734;
    width: 350px;
    height: 35px;
    color: white;
    border: 1px solid white;
}

.inputFormCommon label {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #fdfdfd;
    width: fit-content;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    padding: 10px;
}

.errorMessage {
    color: #C52437;
    font-size: 0.7em;
    text-align: center;
}

.showHideMenu {
    position: relative;
    bottom: 53px;
    left: 333px;
    width: 30px;
    cursor: pointer;
    font-size: 1.5em;
}

/*Buttons*/
.commonFormButton {
    display: flex;
    justify-content: center;
}

.commonFormButton button {
    width: 124px;
    height: 36px;
    text-transform: uppercase;
}

.loginAdditionalField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginAdditionalField a{
    color: #fff;
    margin: 7px;
}

.loginAdditionalField a:hover{
    color: #EBA300;
    cursor: pointer;
}