.header {
    height: 90px;
    background-color: #1B2734;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navMenu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 3px;
    padding: 3px;
    text-transform: uppercase;
}

.link:hover {
    cursor: pointer;
}

.activeLink {
    font-weight: bold;
    border-bottom: 5px solid #E92539;
}

@media (max-width: 580px) {
    .wrapper {
        width: 95%;
    }
    .link {
        margin: 0;
        font-size: 1.55em;
    }
}